# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
public/favicon.ico
public/index.html
public/logo192.png
public/logo512.png
public/manifest.json
public/robots.txt
public/assets/.gitkeep
public/assets/logo-3.svg
public/assets/logo-splash-screen.svg
public/assets/placeimg_500_300_arch1.jpg
public/assets/placeimg_500_300_arch2.jpg
public/assets/placeimg_500_300_arch3.jpg
public/assets/placeimg_500_300_arch4.jpg
public/assets/placeimg_500_300_arch5.jpg
public/assets/placeimg_500_300_arch6.jpg
public/assets/placeimg_500_300_arch7.jpg
public/assets/placeimg_500_300_arch8.jpg
public/assets/placeimg_500_300_arch9.jpg
public/assets/placeimg_500_300_arch10.jpg
public/assets/placeimg_500_300_arch11.jpg
public/assets/placeimg_500_300_arch12.jpg
